*{
	padding:0px;
	margin:6px;
}

.cv{
	width: 1100px;
	height: 300px;
	margin: 50px auto 50px auto;
}
.text-area{
	margin:50px;
}

.img-margin{
    margin-top:0%;
}

.profile-img{
    width:150px;
    height:155px;
	display: Flex;
}

th, td {
  border:2px solid #000;
}

.hr{
	width: 160px;
}